@model BookOne.BookOne_Domain.Book

@{
    ViewBag.Title = "RequestConfirmation";
}

<h2>Request Confirmation</h2>


@using (Html.BeginForm("RequestConfirmation", "Player", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Are you sure you want to send a request to this book's owner?</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BookId)
        @Html.HiddenFor(model => model.AvailabilityStatus)
        @Html.HiddenFor(model => model.AssociatedClub)
        @Html.HiddenFor(model => model.Author)
        @Html.HiddenFor(model => model.BookStatus)
        @Html.HiddenFor(model => model.RegisteredOn)


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Owner.UserName)
                @Html.ValidationMessageFor(model => model.Owner.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Request" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
