@model BookOne.Models.ApplicationUser

@{
    ViewBag.Title = "Show User Profile";
}

<h2>@Html.DisplayFor(model => model.ActualUsername)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.PostalCode)
        @Html.HiddenFor(model => model.UserStatus)
        @Html.HiddenFor(model => model.XP_Points)
        @Html.HiddenFor(model => model.EmailConfirmed)
        @Html.HiddenFor(model => model.PasswordHash)
        @Html.HiddenFor(model => model.SecurityStamp)
        @Html.HiddenFor(model => model.PhoneNumberConfirmed)
        @Html.HiddenFor(model => model.TwoFactorEnabled)
        @Html.HiddenFor(model => model.LockoutEndDateUtc)
        @Html.HiddenFor(model => model.LockoutEnabled)
        @Html.HiddenFor(model => model.AccessFailedCount)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PhoneNumber)

        <dt>
            @Html.DisplayNameFor(model => model.RegisteredOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisteredOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", "Books")
</div>
