<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookOne</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <style type="text/css">
        :root {
            --main-border-top-color: 1px solid rgba(255, 255, 255, 0.12);
            --main-Header-color: rgb(0, 255, 255);
            --main-HeaderHover-color: rgba(0, 255, 255, 0.84);
            --available-color: rgb(255, 255, 255);
        }

        .video-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            background-attachment: fixed;
        }

            .video-container video {
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                opacity: 0.2;
                pointer-events: none;
                background-attachment: fixed;
                z-index: 1;
            }

        #all a {
            position: fixed;
            left: 5%;
            bottom: 7%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            font-size: x-large;
            color: rgba(255, 255, 255, 0.78);
        }

            #all a:hover {
                color: var( --main-HeaderHover-color);
                text-decoration: none;
            }

        #logIn a {
            position: fixed;
            right: 5%;
            top: 12%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            font-size: x-large;
            color: rgba(255, 255, 255, 0.78);
        }
        #logIn a:hover {
            color: var( --main-HeaderHover-color);
            text-decoration: none;
        }
        #logOff a {
            position: fixed;
            right: 5%;
            top: 6%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            font-size: x-large;
            color: rgba(255, 255, 255, 0.78);
        }
        #logOff a:hover {
            color: var( --main-HeaderHover-color);
            text-decoration: none;
        }
        .logOff a {
            position: fixed;
            right: 5%;
            top: 6%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: italic;
            font-size: x-large;
            color: rgba(255, 255, 255, 0.78);
        }

        .logOff a:hover {
            color: var( --main-HeaderHover-color);
            text-decoration: none;
        }

    </style>

</head>
<body>


    <div class="video-container">
        @Html.Partial("_VideoPartial")
    </div>

            
            
    <div class="container body-content">


        <div>
            
                @if (User.Identity.IsAuthenticated)
                {
                    <spam id="all" onmouseover="hideEmail()">@Html.ActionLink("Back", "Index", "Books") </spam>
                
                }

                @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
           
        </div>

        <div class="logOff" onmouseover="showEmail()"> @Html.Partial("_LoginPartial")</div>

        @RenderBody()

    </div>




    @RenderSection("scripts", required: false)



    
</body>
</html>
