<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookOne</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <style type="text/css">

        
      
        body {
            background-image: linear-gradient(rgba(22, 69, 31, 0.79),rgb(0, 0, 0, 0.02)), url('../../Content/images/Drowing.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .video-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            background-attachment: fixed;
        }

        .video-container video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0.2;
            pointer-events: none;
            background-attachment: fixed;
            z-index: 1;
        }

        .addYourBook {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.6);
        }
        .form-control {
            background-color: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.8);
        }
        button, html input[type="button"], input[type="reset"], input[type="submit"] {
            background-color: rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.8);
        }
        a {
            color: rgba(255, 255, 255, 0.8);
        }
        
    </style>

</head>
<body >

    <div class="video-container">
        <video id="video" autoplay loop muted>
            <source src="~/Content/images/fish2.mp4" type="video/mp4" />
        </video>
    </div>

    
    <div class="container body-content">


        

        @RenderBody()
       
        <footer>
            @*<p>&copy; @DateTime.Now.Year - BookOne</p>*@
        </footer>
    </div>


    @RenderSection("scripts", required: false)

    <script>

        function hideAll() {
            $('.this1').hide();
            $('.this2').hide();
            $('.this3').hide();
        }

        var n = 0;
        var i = 1;

        function rotate() {
            n = n + i;
            console.log(n);
            if (n === 0) {
                i = 1;
            }
            if (n === 1) {
                new function () {
                    $('.this1').show();
                }
            }
            if (n === 2) {
                new function () {
                    $('.this1').hide();
                    $('.this2').show();
                }
            }
            if (n === 3) {
                new function () {
                    $('.this2').hide();
                    $('.this1').show();
                }
            }
            if (n === 4) {
                n = 0;
                new function () {
                    $('.this1').hide();
                }
            }
            //if (n === 5) {
            //    new function () {
            //        $('.hide2').hide();
            //    }
            //}
            //if (n === 6) {
            //    n = 0;
            //    new function () {
            //        $('.hide1').hide();
            //    }
            //}
            console.log("new", n);
        }

    </script>
    
</body>
</html>
