<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookOne</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .container-fluid .navbar-brand {
            margin-left: -200px;
        }
        #MyNavbar {
            background-color: rgba(21, 226, 226, 0.9); 
            border-bottom: none;
            opacity: 0.69;
            filter: alpha(opacity=30)
        }

        .navbar-brand{
            font-size: 30px;
        }
        .navbar-nav {
            font-size: 25px;
        }
        .navbar {
            min-height: 80px;
        }
        .navbar-inverse .navbar-nav > li > a {
            color: #FFC0CB;
            opacity: 0.9;
        }
        
        .nav > li > a:hover {
            background-color: #FCC;
            
        }
        .navbar-inverse .navbar-brand {
            color: #FFC0CB;
        }


        body {
            margin: 0;
            padding: 0;
        }

        .ImageText {
            background-image: linear-gradient(rgb(52, 50, 50, 0.4),rgba(0,0,0,0.3)), url('../../Content/images/TenTenCut.jpg');
            background-repeat: no-repeat;
            /*background-size: cover;*/
            
            color: #fff;
            width: 100%;
            height: 100vh;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
       

        .video-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .video-container video {
            /* Make video to at least 100% wide and tall */
            min-width: 100%;
            min-height: 100%;
            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width: auto;
            height: auto;
            /* Center the video */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0.2;
        }
     
        /*#AboutText {
            margin-top: 32%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            letter-spacing: 4px;
            background-position: center;
            opacity: 0.8;
        }*/



        
       
       
       
    </style>

</head>
<body>


    <div class="ImageText">


        <div id="MyNavbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("BookOne", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Books", "Index", "Books")</li>
                        }
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>



        <div class="video-container">
            <video id="video" autoplay loop muted>
                <source src="~/Content/images/fish2.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="container body-content">

            @RenderBody()
        </div>

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
        document.getElementById("oneMore").addEventListener("click", addOne);

        var count = 1;

        function addOne() {
            var x = document.getElementById("emailInput").value;


            // Make better
            if (x.length > 12 && x.includes("") && x.includes(".")) {
                count += 1;
                document.getElementById("counter").innerHTML = count;
                document.getElementById("emailInput").value = "";
            }
            document.getElementById("emailInput").value = "";
        }

    </script>
</body>
</html>
