<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookOne</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style type="text/css">
        :root {
            --main-border-top-color: 1px solid rgba(255, 255, 255, 0.12);
            --main-Header-color: rgb(0, 255, 255);
            --main-HeaderHover-color: rgba(0, 255, 255, 0.84);
        }

        .container body-content {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
        }
        #AboutText {
            margin-top: 20%;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            color: rgba(255, 255, 255, 1);
            text-align: center;
            letter-spacing: 4px;
        }
        
        .container-fluid .navbar-brand {
            margin-left: -200px;
        }
        #MyNavbar {
            background-color: rgba(21, 226, 226, 0.00); 
            border-bottom: none;
            /*opacity: 0.69;*/
            /*filter: alpha(opacity=30)*/
        }

        .navbar-brand{
            font-size: 30px;
        }
        .navbar-nav {
            font-size: 25px;
        }
        .navbar {
            min-height: 80px;
        }
        .navbar-inverse .navbar-nav > li > a {
            color: #FFC0CB;
            opacity: 0.9;
        }
        
        .nav > li > a:hover {
            background-color: #FCC;
            
        }
        .navbar-inverse .navbar-brand {
            color: #FFC0CB;
        }


        .form-control {
            background-color: rgba(255, 255, 255, 0.1);
            color: var(--main-HeaderHover-color);
            font-size: large;
        }
        #about {
            transition: opacity 2s;
        }
        .form-control::placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
        

        #button {
            background-color: rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.8);

        }
        #button:hover {
            background-color: rgba(0, 255, 255, 0.43);
            border-color: var(--main-HeaderHover-color)
        }
        .form-row {
            transition: opacity 3s;
            opacity: 0;
        }

        a {
            color: rgba(255, 255, 255, 0.8);
        }

        .video-container {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
            background-attachment: fixed;
        }
        .video-container video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0.2;
            pointer-events: none;
            background-attachment: fixed;
            z-index: 1;
        }
     
        
    </style>

</head>
<body>


    <div class="video-container">
        @Html.Partial("_VideoPartial")
    </div>


    <div id="MyNavbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("BookOne", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("All books", "Index", "Books")</li>
                    }
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
               
            </div>
        </div>
    </div>
    <div class="container body-content" onmousemove = "myFunction(event)" onmouseout = "showEmail()">
        @Html.Partial("_LoginPartial")

        @RenderBody()

    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script>
        document.getElementById("button").addEventListener("click", addOne);

        var count = 15;

        function addOne() {
            var x = document.getElementById("emailInput").value;


            // Make better
            if (x.length > 12 && x.includes("") && x.includes(".")) {
                count += 1;
                document.getElementById("counter").innerHTML = count;
                document.getElementById("emailInput").value = "";
            }
            document.getElementById("emailInput").value = "";
        }


        /////////// mouse over
        //$(document).ready(function () {
        //    $("#AboutText").onmousemove(function () {
        //        $(".form-row").css("opacity", "1");
        //        $("#about").css("opacity", "0");
        //    })
           

        //});

        function myFunction(e) {
            var x = e.clientX;
            var y = e.clientY;
        }
       function showEmail() {
            $(".form-row").css("opacity", "1");
            $("#about").css("opacity", "0");
        };

    </script>
</body>
</html>
