<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookOne</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <style type="text/css">

        :root {
            --main-border-top-color: 1px solid rgba(255, 255, 255, 0.12);
            --main-Header-color: rgb(0, 255, 255);
            --main-HeaderHover-color: rgba(0, 255, 255, 0.84);
            --accept-color: rgb(155, 251, 132);
            --cancel-color: rgb(255, 102, 102);
        }

        body {
            background-image: linear-gradient(rgb(0, 3, 26),rgb(1, 5, 34));
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;
            color: rgb(255, 255, 255);
        }

 
    </style>



</head>


<body  onload="myFunction()">


    <div class="video-container">
        <video id="video" autoplay loop muted>
            <source src="~/Content/images/road Lights2.mp4" type="video/mp4" />
        </video>
        <video id="video2" autoplay loop muted>
            <source src="~/Content/images/fish2.mp4" type="video/mp4" />
        </video>

    </div>

   
    <div class="container body-content">




        @RenderBody()

        <footer>
            @*<p>&copy; @DateTime.Now.Year - BookOne</p>*@
        </footer>
    </div>


    @RenderSection("scripts", required: false)





<script>

    function myFunction() {
        setInterval(function () {
            $("#back").css("color", "white");

        }, 700);
        setInterval(function () {
            $("#back").css("color", "rgba(255, 255, 255, 0.4)");

        }, 1401);


    }

</script>

</body>
</html>
