

<li id="weAreHere">@Html.ActionLink("All", "Index", "Books")</li>
<li>@Html.ActionLink("My", "MyBooks", "Books")</li>
<li>@Html.ActionLink("Hand", "MyHand", "Books")</li>
<li id="blink">@Html.ActionLink("Requests", "Requests", "Player")</li>
<li>@Html.ActionLink("History", "History", "Books")</li>

@if (User.IsInRole("Administrator"))
{
    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
}

@{Html.RenderAction("CheckUnansweredRequests", "Player"); }

