@model BookOne.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@{
    Layout = "~/Views/Shared/_Layout - About.cshtml";
}




<style type="text/css">
    :root {
        --main-border-top-color: 1px solid rgba(255, 255, 255, 0.12);
        --main-Header-color: rgb(0, 255, 255);
        --main-HeaderHover-color: rgba(0, 255, 255, 0.84);
    }

    body {
        background-image: linear-gradient(rgb(255, 0, 0),rgba(0,0,0,0.1)), url('../../Content/images/TenTenCut.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }


    .container body-content {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        color: rgba(255, 255, 255, 1);
    }

    /*#AboutText {
        margin-top: 20%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        letter-spacing: 4px;
    }*/

    .container-fluid .navbar-brand {
        margin-left: -200px;
    }

    #MyNavbar {
        background-color: rgba(21, 226, 226, 0.00);
        border-bottom: none;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .navbar-nav {
        font-size: 25px;
    }

    .navbar {
        min-height: 80px;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #FFC0CB;
        opacity: 0.9;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: var(--main-HeaderHover-color);
        }

    /*.nav > li > a:hover {
        background-color: rgb(0, 255, 255);
    }*/
    /*.navbar-inverse .navbar-brand {
        color: #FFC0CB;
    }*/





    .form-control {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--main-HeaderHover-color);
        font-size: large;
    }

    #loginForm > form > div.validation-summary-errors.text-danger > ul > li {
        color: white;
    }

    #Email-error {
        color: white;
    }

    #Password-error {
        color: white;
    }
    /*#button {
        background-color: rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.8);
    }

    #button:hover {
        background-color: rgba(0, 255, 255, 0.43);
        border-color: var(--main-HeaderHover-color);
    }*/
    /*.form-row {
        transition: opacity 3s;
        opacity: 0;
    }*/
    /*a {
        color: rgba(255, 255, 255, 0.8);
    }*/
    #logoutForm > ul > li:nth-child(1) > a {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
    }
    #logoutForm > ul > li:nth-child(1) > a:hover {
        color: var(--main-HeaderHover-color);
    }
    #logoutForm > ul > li:nth-child(2) > a {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
    }
    #logoutForm > ul > li:nth-child(2) > a:hover {
        color: var(--main-HeaderHover-color);
    }



    body > div.container.body-content > form > div:nth-child(9) > div > input {
        background-color: rgba(255, 255, 255, 0.3);
        color: #FFC0CB;
    }
    body > div.container.body-content > form > div:nth-child(9) > div > input:hover {
           
        color: rgba(0, 255, 255, 0.84);
    }

    #loginLink {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
    }
    #loginLink:hover {
        color: var(--main-HeaderHover-color);
    }
    #registerLink {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
    }
    #registerLink:hover {
        color: var(--main-HeaderHover-color);
    }
</style>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @*<h4>Create a new account.</h4>*@

    <br />
    <br />
    <br />


    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
