@model BookOne.BookOne_Domain.BookCirculation

@{
    ViewBag.Title = "Book Details";
}

<h2>Book Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.BorrowedForXWeeks)
        @Html.HiddenFor(model => model.OwnerGaveBook)
        @Html.HiddenFor(model => model.BorrowerReceivedBook)
        @Html.HiddenFor(model => model.RequestIdForThisCirculation)
        @Html.HiddenFor(model => model.CirculationStatus)

        <dt>
            @Html.DisplayNameFor(model => model.BookAssociated.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookAssociated.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookAssociated.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookAssociated.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.ActualUsername)
        </dd>
        <dt>
            Borrower's Telephone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Borrower.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BorrowedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BorrowedOn)
        </dd>
        <dt>
            Days Remaining
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DaysRemaining)
        </dd>
        <dt>
            Completed Circulations
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookAssociated.CompletedCirculationsForThisBook)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "MyBooks")
</p>
