@model BookOne.BookOne_Domain.Book

@{
    Layout = "~/Views/Shared/_Layout - AddBook.cshtml";
}

<br />
<br />
<br />

<div>
    
    <h2>
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>*@
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>*@
            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.RegisteredOn)
            </dt>*@
            @*<dd>
                @Html.DisplayFor(model => model.RegisteredOn)
            </dd>*@
            @*<dt>
                @Html.DisplayNameFor(model => model.BookStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BookStatus)
            </dd>*@
            <dt>
                Circulation
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CompletedCirculationsForThisBook)
            </dd>
        </dl>
    </h2>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.BookId }) |
    @Html.ActionLink("Back to List", "MyBooks", "Books")
</p>
