@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    Layout = "~/Views/Shared/_Layout - User1.cshtml";
}

@{
    ViewBag.Title = "Books";
}




<style type="text/css">

    body {
        background-image: linear-gradient(rgb(255, 0, 0),rgba(0,0,0,0.1)), url('../../Content/images/TenTenCut.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    
</style>



<table id="listOfBooks" class="table">
    <tr class="header" >
        <th id="Title" class="col-md-8">
           
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th id="Author" class="author col-md-4" >
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th id="Owner" col-md-4">
            Owner
        </th>
        <th id="Availability" class="Status col-md-4">
            Availability
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="bookTitle">
            <td >
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="author">
                @Html.DisplayFor(modelItem => item.Author)
            </td>


            @*<td class="owner">
                @Html.ActionLink( item.Owner.ActualUsername, "ShowUserProfile", "Player", new { userId = item.Owner.Id }, null)
            </td>*@
            
            <td   class="owner">
                @Html.DisplayFor(modelItem => item.Owner.ActualUsername)
            </td>

            <td class="Status">
                @if (item.AvailabilityStatus == true)
                {
                    @Html.ActionLink("Available", "RequestConfirmation", "Player", new { bookId = item.BookId }, null)
                }
                else
                {
                    <span>Unavailable</span>
                }
            </td>
        </tr>
    }
</table>



<script>

    // Player Text




    ///////////////////////////////////////

    function hideAll() {
        $('.author').hide();
        $('#Owner').hide();
        $('.owner').hide();
    }

    var n = 0;
    var i = 1;

    function rotate() {
        n = n + i;
        if (n === 0) {
            i = 1;
        }
        if (n === 1) {
            console.log("new", n);
            new function () {
                $('.author').show();
                $('.Status').hide();
                
            }
        }
        if (n === 2) {
            console.log("new", n);
            new function () {
                $('.author').hide();
                $('#Owner').show();
                $('.owner').show();
            }
        }
        if (n === 3) {
            console.log("new", n);
            new function () {
                $('#Owner').hide();
                $('.owner').hide();
                $('.Status').show();
                


            }
        }
        if (n === 4) {
            n = 1;
            new function () {
                console.log("new", n);

                $('.author').show();
                $('.Status').hide();
            }
        }

        
    }

</script>

