@using Microsoft.AspNet.Identity;
@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    Layout = "~/Views/Shared/_Layout - User1.cshtml";
}

@{
    ViewBag.Title = "Books";
}




<style type="text/css">

    body {
        background-image: linear-gradient(rgb(255, 0, 0),rgba(0,0,0,0.1)), url('../../Content/images/TenTenCut.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }



    .owner:hover {
        border-bottom: 5px;
        text-decoration: underline;
        text-decoration-style: solid;
        color: rgb(0, 255, 255);
    }

    #availableBook a {
        color: var(--available-color);
    }
    #availableBook a:hover {
        color: var(--main-HeaderHover-color);
    }
    .ifUnavailable {
       color: rgba(255, 255, 255, 0.65)
    }
    
   
   
    
</style>



<table id="listOfBooks" class="table">
    <tr class="header">
        <th id="Title" class="col-md-8">

            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th id="Author" class="author col-md-4">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th id="Owner" col-md-4">
            Owner
        </th>
        <th id="Availability" class="Status col-md-4">
            Availability
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr class="bookTitle">
            
            @if (item.AvailabilityStatus == true && item.Owner.Id != User.Identity.GetUserId())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td class="author">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>

                <td class="owner">
                    <spam class="availableOwner"> @Html.ActionLink(item.Owner.ActualUsername, "ShowUserProfile", "Player", new { userId = item.Owner.Id }, null)</spam>
                </td>

                <td id="availableBook" class="Status">

                        <spam id="availableBook">@Html.ActionLink("Available", "RequestConfirmation", "Player", new { bookId = item.BookId }, null)</spam>

                        @*it will color the unavailable*@
                        <script>
                            myFunction();
                            function myFunction() {
                                $("#availableBook ").css("color", " rgba(255, 255, 255, 0.65)");
                           
                            }
                        </script>

                </td>
            }


            @if (item.AvailabilityStatus == false || item.Owner.Id == User.Identity.GetUserId())
            {
                <td class="ifUnavailable">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td class="author ifUnavailable">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>

                <td class="owner ifUnavailable">
                    <spam class="availableOwner"> @Html.ActionLink(item.Owner.ActualUsername, "ShowUserProfile", "Player", new { userId = item.Owner.Id }, null)</spam>
                </td>

                <td id="availableBook" class="Status ifUnavailable">
                    <span>unavailable</span>
                </td>
            }
            
        </tr>
    }
</table>





<script>
    function hideAll() {
        $('.author').hide();
        $('#Owner').hide();
        $('.owner').hide();
    }

    var n = 0;
    var i = 1;

    function rotate() {
        n = n + i;
        if (n === 0) {
            i = 1;
        }
        if (n === 1) {
            console.log("new", n);
            new function () {
                $('.author').show();
                $('.Status').hide();

            }
        }
        if (n === 2) {
            console.log("new", n);
            new function () {
                $('.author').hide();
                $('#Owner').show();
                $('.owner').show();
            }
        }
        if (n === 3) {
            console.log("new", n);
            new function () {
                $('#Owner').hide();
                $('.owner').hide();
                $('.Status').show();



            }
        }
        if (n === 4) {
            n = 1;
            new function () {
                console.log("new", n);

                $('.author').show();
                $('.Status').hide();
            }
        }


    }

</script>

