@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    Layout = "~/Views/Shared/_Layout - User1.cshtml";
}

@{
    ViewBag.Title = "Books";
}

<style type="text/css">
    .invisible {
        visibility: hidden;
    }

    .clickOnce {
        visibility: visible;
    }
</style>


<h3>@*Books*@</h3>

<div class="btn2">


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="ThisOne" >
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.Owner.UserName)
            </th>
            <th class="ThisOne" >
                @Html.DisplayNameFor(model => model.BookStatus)
            </th>
            <th class="ThisOne">
                @Html.DisplayNameFor(model => model.AvailabilityStatus)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="ThisOne">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.UserName)
                </td>
                <td class="ThisOne">
                    @Html.DisplayFor(modelItem => item.BookStatus)
                </td>
                <td class="ThisOne">
                    @if (item.AvailabilityStatus == true)
                    {
                        @Html.ActionLink("Available", "RequestConfirmation", "Player", new { bookId = item.BookId }, null)
                    }
                    else
                    {
                        <p>Unavailable</p>
                    }
                </td>
            </tr>
        }

</div>

</table>