@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    Layout = "~/Views/Shared/_Layout - User1.cshtml";
}

@{
    ViewBag.Title = "Books";
}




<style type="text/css">

    body {
        background-image: linear-gradient(rgb(255, 0, 0),rgba(0,0,0,0.1)), url('../../Content/images/TenTenCut.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    
</style>




<table id="listOfBooks" class="table">
    <tr class="header" >
        <th onclick="document.getElementById('searchInput').placeholder='Book'">
           
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="this1" onclick="document.getElementById('searchInput').placeholder='Author'">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th class="this2" onclick="document.getElementById('searchInput').placeholder='Owner'">
            by
        </th>
        @*<th class="this3">
                @Html.DisplayNameFor(model => model.BookStatus)
            </th>*@
        <th class="Status" onclick="document.getElementById('searchInput').placeholder='Availability'">
                @*@Html.DisplayNameFor(model => model.AvailabilityStatus)*@
            ...
         </th>
    </tr>



    @foreach (var item in Model)
    {
        <tr class="bookTitle">
            <td onclick="rotate()">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="this1">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="this2">
                @Html.DisplayFor(modelItem => item.Owner.ActualUsername)
            </td>
            @*<td class="this3">
                    @Html.DisplayFor(modelItem => item.BookStatus)
                </td>*@
            <td class="Status">
                @if (item.AvailabilityStatus == true)
                {
                    @Html.ActionLink("Available", "RequestConfirmation", "Player", new { bookId = item.BookId }, null)
                }
                else
                {
                    <p>Unavailable</p>
                }
            </td>
        </tr>
    }
</table>



<script>

    function hideAll() {
        $('.this1').hide();
        $('.this2').hide();
        $('.bookAuthor').hide();
    }

    var n = 0;
    var i = 1;

    function rotate() {
        n = n + i;
        
        if (n === 0) {
            i = 1;
        }
        if (n === 1) {
            console.log("new", n);
            new function () {
                $('.this1').show();
                $('.bookAuthor').show();
                $('.Status').hide();
                
            }
        }
        if (n === 2) {
            console.log("new", n);
            new function () {
                $('.this1').hide();
                $('.bookAuthor').hide();
                $('.Status').show();
                $('.this2').show();
            }
        }
        if (n === 3) {
            console.log("new", n);
            new function () {
                $('.this2').hide();
                $('.Status').show();
                


            }
        }
        if (n === 4) {
            n = 1;
            new function () {
                console.log("new", n);

                $('.this1').show();
                $('.bookAuthor').show();
                $('.Status').hide();
            }
        }

        
    }

</script>

