@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    Layout = "~/Views/Shared/_Layout - User1.cshtml";
}

@{
    ViewBag.Title = "Books";
}




@*<h3>Books</h3>*@







    <table id="listOfBooks" class="table">
        <tr>
            <th onclick="rotate()">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="this1" >
                @Html.DisplayNameFor(model => model.Author)
            </th >
            <th class="this2" >
                Username
            </th>
            <th class="this3" >
                @Html.DisplayNameFor(model => model.BookStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityStatus)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="bookTitle">
                <td onclick="rotate()">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="this1">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td class="this2">
                    @Html.DisplayFor(modelItem => item.Owner.ActualUsername)
                </td>
                <td class="this3">
                    @Html.DisplayFor(modelItem => item.BookStatus)
                </td>
                <td >
                    @if (item.AvailabilityStatus == true)
                    {
                        @Html.ActionLink("Available", "RequestConfirmation", "Player", new { bookId = item.BookId }, null)
                    }
                    else
                    {
                        <p>Unavailable</p>
                    }
                </td>
            </tr>
        } 
</table>