@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("All Books", "Index") | @Html.ActionLink("My Books", "MyBooks") | @Html.ActionLink("Borrowed Books", "MyHand") | @Html.ActionLink("Requests", "Requests")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailabilityStatus)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @*<a href="@Html.Action("MakeARequest", "Books", new { id=item.BookId })">@Html.DisplayFor(modelItem => item.Title)</a>*@
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookStatus)
        </td>
        <td>
            @if(item.AvailabilityStatus == true)
            {
            <button>Available</button>
            }
            else
            {
            <p>Unavailable</p>
            }
        </td>
    </tr>
    }

</table>