@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    Layout = "~/Views/Shared/_Layout - User1.cshtml";
}

@{
    ViewBag.Title = "Books";
}

<style type="text/css">
    .invisible {
        visibility: hidden;
    }

    .clickOnce {
        visibility: visible;
    }
</style>


<h3>@*Books*@</h3>

<div >

    <table class="table">
        <tr>
            <th onclick="rotate()">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="hide1">
                @Html.DisplayNameFor(model => model.Author)
            </th >
            <th class="hide2">
                Username
            </th>
            <th class="hide3" >
                @Html.DisplayNameFor(model => model.BookStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityStatus)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td onclick="rotate()">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="hide1">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td class="hide2">
                    @Html.DisplayFor(modelItem => item.Owner.ActualUsername)
                </td>
                <td class="hide3">
                    @Html.DisplayFor(modelItem => item.BookStatus)
                </td>
                <td >
                    @if (item.AvailabilityStatus == true)
                    {
                        @Html.ActionLink("Available", "RequestConfirmation", "Player", new { bookId = item.BookId }, null)
                    }
                    else
                    {
                        <p>Unavailable</p>
                    }
                </td>
            </tr>
        }
</div>
</table>