@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    ViewBag.Title = "MyBooks";
}
@{
    Layout = "~/Views/Shared/_Layout - My.cshtml";
}



<p>
    @Html.ActionLink("Add new", "Create") 
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th class="this1">
            @Html.DisplayNameFor(model => model.Author)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.RegisteredOn)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.BookStatus)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="listOfBooks">
            <td class="bookTitle">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="bookAuthor" >
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.RegisteredOn)
            </td>*@
            <td class="thisStatus">
                @Html.DisplayFor(modelItem => item.BookStatus)
            </td>
            <td class="this2">
                @*@Html.ActionLink("Details", "Details", new { id = item.BookId })*@
                @if (item.AvailabilityStatus == true)
                {
                <span> &emsp; </span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId })
                <span> &emsp; </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                }
                @if (item.AvailabilityStatus == false)
                {
                <span>&emsp;</span>
                    @Html.ActionLink("Return Book", "ReturnBook", "Player", new { bookId = item.BookId }, null)
                }
            </td>
        </tr>
    }

</table>
