@model BookOne.ViewModels.BooksViewModel

@{
    ViewBag.Title = "MyBooks";
    Layout = "~/Views/Shared/_Layout - My.cshtml";
}

<style type="text/css">

    body {
        background-image: linear-gradient(rgba(22, 69, 31, 0.79),rgba(5, 48, 15, 0.32)), url('../../Content/images/Drowing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>




<br />
<br />
<br />





<div class="tooltipp">
    <p>
        @Html.ActionLink("Add new", "Create")
    </p>
    <span class="tooltiptextt">click to add your book</span>
</div>


<table id="listOfBooks" class="table">

    <tr class="header">
        <th id="Title" class="col-md-6">
            Title
        </th>
        <th id="Author" class="author col-md-6">
            Author
        </th>
        <th id="Availability" class="thisStatus col-md-6">
            Status
        </th>
        <th id="Carrier" class="carrier col-md-6">
            Carrier
        </th>
    </tr>

    @foreach (var item in Model.Books)
    {
        if (item.AvailabilityStatus == false) { continue; }

        <tr class="bookTitle">
            <td>
                <div class="tooltipp">
                    @Html.ActionLink(item.Title, "Edit", new { id = item.BookId })<span class="tooltiptextt">click to edit your book</span>
                </div>
            </td>
            <td class="author">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="thisStatus">
                @Html.DisplayFor(modelItem => item.BookStatus)
            </td>
            <td class="carrier"></td>
        </tr>
    }
</table>


@*Borrowed Books to other Users*@
<div class="borrowed">

    <table id="listOfBooks" class="table table-hover">

        <tr class="header">
            <th id="Title" class="col-md-6">
                @*Title*@
            </th>
            <th id="Author" class="author col-md-6">
                @*Author*@
            </th>
            <th id="Status" class="thisStatus col-md-6">
                @*Borrowed On*@
            </th>
            <th id="Owner" class="carrier col-md-6">
                @*Carrier*@
            </th>
        </tr>

        @foreach (var item in Model.BookCirculations)
        {
            if (item.BookAssociated.AvailabilityStatus == true) { continue; }

            <tbody>
                <tr class="bookTitle">
                    <td>
                        @Html.DisplayFor(modelItem => item.BookAssociated.Title)
                    </td>
                    <td class="author">
                        @Html.DisplayFor(modelItem => item.BookAssociated.Author)
                    </td>
                    <td class="thisStatus">
                        @if (item.DaysRemaining > 1 || item.DaysRemaining == 0)
                        {
                            @Html.DisplayFor(modelItem => item.DaysRemaining) <span> days remaining</span>
                        }
                        @if (item.DaysRemaining == 1)
                        {
                            @Html.DisplayFor(modelItem => item.DaysRemaining) <span> day remaining</span>
                        }
                        @*book will blink if DaysRemaining < 3*@
                        @if (item.DaysRemaining < 3)
                        {
                            <script>

                                myFunction();
                                function myFunction() {
                                    setInterval(function () { $("div.borrowed *").css("color", "var(--main-borrowed-color)"); }, 1000);
                                    setInterval(function () { $("div.borrowed *").css("color", "var(--main-borrowed-hover-color)"); }, 4001);
                                }

                            </script>
                        }
                    </td>
                    <td class="carrier">
                        @Html.DisplayFor(modelItem => item.BookAssociated.Carrier.ActualUsername)
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>

@*@*This Search form must be bypased ...later...and for now it will just be invisible*@
<select id="searchFilter">
    <option value="" disabled selected style="display: none;">Select a Filter</option>
    <option value="BookTitles">Book</option>
    <option value="Authors">Author</option>
    <option value="Carrier">Carrier</option>
    <option value="Status">Status</option>
</select>

<script>

    //function Blink() {
    //    console.log("Blink");
    //    $("#blink a").attr("color", "red");
    //}

    var n = 0;
    var i = 1;

    function rotate() {
        n = n + i;
        if (n === 0) {
            i = 1;
        }
        if (n === 1) {
            new function () {
                $('.author').show();
                $('.thisStatus').hide();
                $('.carrier').hide();
                $('.editDelete').hide();
            }
        }
        if (n === 2) {
            new function () {
                $('.author').hide();
                $('.carrier').show();
            }
        }
        if (n === 3) {
            new function () {
                $('.editDelete').show();
                $('.thisStatus').show();
                $('.carrier').hide()


            }
        }
        if (n === 4) {
            n = 1;
            new function () {
                $('.author').show();
                $('.editDelete').hide()
                $('.thisStatus').hide();

            }
        }

        console.log("new", n);
    }




    $(document).ready(function () {
        $("#Author").click(function () {
            $("#searchInput").attr("placeholder", "Author");
            $("#searchFilter").val("Authors");
        })
        $("#Title").click(function () {
            $("#searchInput").attr("placeholder", "Book");
            $("#searchFilter").val("BookTitles");
        })
        $("#Carrier").click(function () {
            $("#searchInput").attr("placeholder", "Carrier");
            $("#searchFilter").val("Users");
        })
        $("#Status").click(function () {
            $("#searchInput").attr("placeholder", "Status");
            $("#searchFilter").val("Status");
        })

    });
</script>
