@model BookOne.ViewModels.BooksViewModel

@{
    ViewBag.Title = "MyBooks";
    Layout = "~/Views/Shared/_Layout - My.cshtml";
}

<style type="text/css">

    body {
        background-image: linear-gradient(rgba(22, 69, 31, 0.79),rgba(5, 48, 15, 0.32)), url('../../Content/images/Drowing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>


<br />
<br />
<br />

<p>
    @Html.ActionLink("Add new", "Create")
</p>


@*My Unborrowed Books*@
<table id="listOfBooks" class="table">

    <tr class="header">
        <th  id="Title" class="col-md-6">
            Title
        </th>
        <th id="Author" class="author col-md-6">
            Author
        </th>
        <th id="Availability" class="thisStatus col-md-6">
            Status
        </th>
        <th id="Carrier" class="carrier col-md-6">
            Carrier
        </th>
    </tr>

    @foreach (var item in Model.Books)
    {
        if (item.AvailabilityStatus == false) { continue; }

        <tr class="bookTitle">
            <td>
                @Html.ActionLink(item.Title, "Edit", new { id = item.BookId })
            </td>
            <td class="author">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="thisStatus">
                @Html.DisplayFor(modelItem => item.BookStatus)
            </td>
            <td class="carrier"></td>
        </tr>
    }
</table>


@*Borrowed Books to other Users*@
<div class="borrowed">

    <table id="listOfBooks" class="table table-hover">

        <tr class="header">
            <th id="Title" class="col-md-6">
                @*Title*@
            </th>
            <th id="Author" class="author col-md-6">
                @*Author*@
            </th>
            <th id="Status" class="thisStatus col-md-6">
                @*Borrowed On*@
            </th>
            <th id="Owner" class="carrier col-md-6">
                @*Carrier*@
            </th>
        </tr>

        @foreach (var item in Model.BookCirculations)
        {
            if (item.BookAssociated.AvailabilityStatus == true) { continue; }

            <tbody>
                <tr class="bookTitle">
                    <td >
                        @*@Html.ActionLink(item.BookAssociated.Title, "BorrowedBookDetails", new { id = item.BookAssociated.BookId })*@
                        @Html.DisplayFor(modelItem => item.BookAssociated.Title)
                    </td>
                    <td class="author">
                        @Html.DisplayFor(modelItem => item.BookAssociated.Author)
                    </td>
                    <td class="thisStatus">
                        @if (item.DaysRemaining > 1 || item.DaysRemaining == 0)
                        {
                            @Html.DisplayFor(modelItem => item.DaysRemaining) <span> days remaining</span>
                        }
                        @if (item.DaysRemaining == 1)
                        {
                            @Html.DisplayFor(modelItem => item.DaysRemaining) <span> day remaining</span>
                        }
                        @*book will blink if DaysRemaining < 3*@
                        @if (item.DaysRemaining < 3)
                        {
                            <script>

                                myFunction();
                                function myFunction() {
                                    setInterval(function () { $("div.borrowed *").css("color", "var(--main-borrowed-color)"); }, 1000);
                                    setInterval(function () { $("div.borrowed *").css("color", "var(--main-borrowed-hover-color)"); }, 4001);
                                }

                            </script>
                        }
                    </td>
                    <td class="carrier">
                        @Html.DisplayFor(modelItem => item.BookAssociated.Carrier.ActualUsername)
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>



<script>

    //function Blink() {
    //    console.log("Blink");
    //    $("#blink a").attr("color", "red");
    //}

    var n = 0;
    var i = 1;

    function rotate() {
        n = n + i;
        if (n === 0) {
            i = 1;
        }
        if (n === 1) {
            new function () {
                $('.author').show();
                $('.thisStatus').hide();
                $('.carrier').hide();
                $('.editDelete').hide();
            }
        }
        if (n === 2) {
            new function () {
                $('.author').hide();
                $('.carrier').show();
            }
        }
        if (n === 3) {
            new function () {
                $('.editDelete').show();
                $('.thisStatus').show();
                $('.carrier').hide()


            }
        }
        if (n === 4) {
            n = 1;
            new function () {
                $('.author').show();
                $('.editDelete').hide()
                $('.thisStatus').hide();

            }
        }

        console.log("new", n);
    }




    $(document).ready(function () {
        $("#Author").click(function () {
            $("#searchInput").attr("placeholder", "Author");
            $("#searchFilter").val("Authors");
        })
        $("#Title").click(function () {
            $("#searchInput").attr("placeholder", "Book");
            $("#searchFilter").val("BookTitles");
        })
        $("#Carrier").click(function () {
            $("#searchInput").attr("placeholder", "Carrier");
            $("#searchFilter").val("Users");
        })
        $("#Status").click(function () {
            $("#searchInput").attr("placeholder", "Status");
            $("#searchFilter").val("Availability");
        })

    });


    function SearchFunction() {
        // Declare variables
        let input, filter, bookList, bookTitles, index, txtValue, bookAuthors = [];
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        bookList = document.getElementById("listOfBooks");
        bookTitles = bookList.getElementsByClassName("bookTitle");

        // We cannot call directly forEach on bookTitles since it's a NodeList (a type of Array)
        // So we call the Array.prototype function and provide the nodeList as a parameter
        Array.prototype.forEach.call(bookTitles,
            book => bookAuthors.push(book.getElementsByTagName("td")[1].innerHTML));

        let searchFilter = document.getElementById("searchFilter").selectedIndex;

        //Because i have added a dummy value "SelectFilter" in options
        // I subtract it from the final index.
        searchFilter = searchFilter === 0 ? 0 : searchFilter - 1;

        // Loop through all list items, and hide those who don't match the search query
        for (index = 0; index < bookTitles.length; index++) {
            let bookAuthor = bookTitles[index].getElementsByTagName("td")[searchFilter];
            txtValue = bookAuthor.innerHTML;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                bookTitles[index].style.display = "";
            } else {
                bookTitles[index].style.display = "none";
            }
        }
    }
</script>
