@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    ViewBag.Title = "MyBooks";
}

@{
    Layout = "~/Views/Shared/_Layout - My.cshtml";
}


<style type="text/css">

    body {
        background-image: linear-gradient(rgba(22, 69, 31, 0.79),rgb(0, 0, 0, 0.02)), url('../../Content/images/Drowing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #weAreHere a {
        color: rgb(0, 255, 255);
    }

   
</style>


<p>
    @Html.ActionLink("Add new", "Create")
</p>


<table id="listOfBooks" class="table">
    <tr class="header">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="author">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th class="thisStatus">
            Status
        </th>
        <th class="carrier">
            Carrier
        </th>
        <th class="editDelete">
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr class="bookTitle">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="author">
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td class="thisStatus">
            @Html.DisplayFor(modelItem => item.BookStatus)
        </td>
        <td class="carrier">
            @if (item.AvailabilityStatus == false)
            {
                @Html.DisplayFor(modelItem => item.Carrier.ActualUsername)
            }
            @if (item.AvailabilityStatus == true)
            {
                <span>- - -</span>
            }
        </td>
        <td class="editDelete">
            @*@Html.ActionLink("Details", "Details", new { id = item.BookId })*@
            @if (item.AvailabilityStatus == true)
            {
                <span> &emsp; </span>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookId })
                <span> &emsp; </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
            }
            @if (item.AvailabilityStatus == false)
            {
                <span>&emsp;</span>
                @Html.ActionLink("Return Book", "ReturnBook", "Player", new { bookId = item.BookId }, null)
            }
        </td>
    </tr>
    }

</table>



<script>

        function hideAll() {
            $('.editDelete').hide();
            $('.author').hide();
            $('.thisStatus').hide();
            $('.carrier').hide();
        }

        var n = 0;
        var i = 1;

        function rotate() {
            n = n + i;
            if (n === 0) {
                i = 1;
            }
            if (n === 1) {
                new function () {
                    $('.author').show();
                    $('.thisStatus').hide();
                }
            }
            if (n === 2) {
                new function () {
                    $('.author').hide();
                    $('.carrier').show();
                }
            }
            if (n === 3) {
                new function () {
                    $('.editDelete').show();
                    $('.thisStatus').show();
                    $('.carrier').hide()


                }
            }
            if (n === 4) {
                n = 1;
                new function () {
                    $('.author').show();
                    $('.editDelete').hide()
                    $('.thisStatus').hide();

                }
            }

            console.log("new", n);
        }

</script>
