@using Microsoft.AspNet.Identity
@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    Layout = "~/Views/Shared/_Layout - MyHand.cshtml";
    ViewBag.Title = "MyHand";
}


<style type="text/css">

    body {
        background-image: linear-gradient(rgb(6, 9, 150, 0.9),rgba(0,0,0,0.4)), url('../../Content/images/ContentsCut1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>






<table id="listOfBooks" class="table">
    <tr class="header">
        <th >
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="author">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th class="owner">
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th class="timeLeft">
            Time left
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="bookTitle">
            <td >
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="author">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            
            <td class="owner">
                @Html.DisplayFor(modelItem => item.Owner.ActualUsername)
            </td>

            <td class="timeLeft">
               
            </td>
            <td>
                @if (item.Owner.Id != User.Identity.GetUserId() && item.AvailabilityStatus == false)
                {
                    <span>Borrowed</span>
                }
            </td>
        </tr>
    }

</table>


<script>

    function hideAll() {
        $('.author').hide();
        $('.owner').hide();
        $('.timeLeft').hide()
    }

    var n = 0;
    var i = 1;

    function rotate() {
        n = n + i;
        if (n === 0) {

        }
        if (n === 1) {
            new function () {
                
                $('.author').show();
               
            }
        }
        if (n === 2) {
            new function () {
                $('.author').hide();
                $('.owner').show();
            }
        }
        if (n === 3) {
            new function () {
                $('.owner').hide();
                $('.timeLeft').show();


            }
        }
        if (n === 4) {
            n = 1;
            new function () {
                $('.author').show();
                $('.owner').hide();
                $('.timeLeft').hide();

            }
        }

        console.log("new", n);
    }
</script>