@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    ViewBag.Title = "MyHand";
}

<h2>MyHand</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("All Books", "Index") | @Html.ActionLink("My Books", "MyBooks") | @Html.ActionLink("Borrowed Books", "MyHand") | @Html.ActionLink("Requests", "Requests")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookStatus)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookStatus)
        </td>
    </tr>
}

</table>
