@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    ViewBag.Title = "MyHand";
}

<p>
    @Html.ActionLink("All Books", "Index")  @Html.ActionLink("My Books", "MyBooks")  @Html.ActionLink("Ask", "Index", "Player")
</p>

<h3>MyHand</h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookStatus)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.ActualUsername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookStatus)
        </td>
    </tr>
}

</table>
