@using Microsoft.AspNet.Identity
@model IEnumerable<BookOne.BookOne_Domain.Book>

@{
    Layout = "~/Views/Shared/_Layout - Hand.cshtml";
    ViewBag.Title = "MyHand";
}

<p>
    @Html.ActionLink("All Books", "Index")  @Html.ActionLink("My Books", "MyBooks")  @Html.ActionLink("Requests", "Requests", "Player")
</p>

@*<h3>MyHand</h3>*@


<table id="listOfBooks" class="table">
    <tr>
        <th onclick="rotate()">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="this1">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.RegisteredOn)
            </th>*@
        <th class="this2">
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th class="this3">
            @Html.DisplayNameFor(model => model.BookStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="bookTitle">
            <td onclick="rotate()">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="this1">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.RegisteredOn)
                </td>*@
            <td class="this2">
                @Html.DisplayFor(modelItem => item.Owner.ActualUsername)
            </td>
            <td class="this3">
                @Html.DisplayFor(modelItem => item.BookStatus)
            </td>
            <td>
                @if (item.Owner.Id != User.Identity.GetUserId() && item.AvailabilityStatus == false)
                {
                    <span>Borrowed</span>
                }
            </td>
        </tr>
    }

</table>