@model IEnumerable<BookOne.BookOne_Domain.BookCirculation>

@{
    ViewBag.Title = "Circulations";
}

<h2>Book Circulations</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BorrowedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowedForXWeeks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerGaveBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowerReceivedBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestIdForThisCirculation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CirculationStatus)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowedForXWeeks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerGaveBook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowerReceivedBook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestIdForThisCirculation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CirculationStatus)
        </td>
    </tr>
}

</table>
