@model IEnumerable<BookOne.BookOne_Domain.BookCirculation>

@{
    ViewBag.Title = "Circulations";
    Layout = "~/Views/Shared/_Layout - My.cshtml";

}
<style type="text/css">
    body {
        background-image: linear-gradient(rgba(22, 69, 31, 0.79),rgba(5, 48, 15, 0.32)), url('../../Content/images/Drowing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    th {
        color: var(--main-Header-color);
    }

    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }
   
</style>

<br />
<br />

@Html.ActionLink("Users", "Index") |
@Html.ActionLink("Books", "Books") |
@Html.ActionLink("BookCirculations", "BookCirculations")


<h2>BOOK CIRCULATIONS</h2>

<table class="table">
    <tr>
        <th>
            Book Title
        </th>
        <th>
            Owner
        </th>
        <th>
            Borrower
        </th>
        <th>
            Borrowed On
        </th>
        <th>
            Remaining Days
        </th>
        <th>
            Circulation Status
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookAssociated.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAssociated.Owner.ActualUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAssociated.Carrier.ActualUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysRemaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CirculationStatus)
            </td>
        </tr>
    }

</table>
