@model BookOne.Models.ApplicationUser

@{
    ViewBag.Title = "Delete User";
    Layout = "~/Views/Shared/_Layout - My.cshtml";
}


<style type="text/css">
    body {
        background-image: linear-gradient(rgba(22, 69, 31, 0.79),rgba(5, 48, 15, 0.32)), url('../../Content/images/Drowing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
    .header th {
        color: var(--main-Header-color);
    }

    .adminDashboardHeader {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }

    #formText {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        color: rgba(255, 255, 255, 1);
    }

    #back{
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }

    .col-md-10 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    #formLabel {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        color: rgb(255, 255, 255);
    }

    #delete:hover {
        color: rgb(0, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
    }
</style>


<h2 class="adminDashboardHeader">Delete User</h2>


<div>
    <hr />
    <h3 id="formLabel">Are you sure you want to delete this user?</h3>
    <hr />
    <dl id="formLabel" class="dl-horizontal">
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisteredOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserStatus)
        </dd>
    </dl>

    @using (Html.BeginForm("DeleteUserConfirmed", "Admin", new { userId = Model.Id }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input id="delete"  type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = "back" })
        </div>
    }
</div>
