@model IEnumerable<BookOne.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout - My.cshtml";
}

<br />
<br />

@Html.ActionLink("Users", "Index") |
@Html.ActionLink("Books", "Books") |
@Html.ActionLink("BookCirculations", "BookCirculations")

<style type="text/css">

    

    body {
        background-image: linear-gradient(rgba(22, 69, 31, 0.79),rgba(5, 48, 15, 0.32)), url('../../Content/images/Drowing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .table {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        color: rgba(255, 255, 255, 1);
    }

    .header th {
        color: var(--main-Header-color);
    }


</style>

<h2>Users</h2>

<table class="table">

    <tr class="header">
        <th id="username" class="col-md-3">
            Username
        </th>
        <th id="role" class="col-md-3">
            Role
        </th>
        <th id="mail" class="col-md-3">
            Email
        </th>
        <th id="phone"class="col-md-3">
            Phone Number
        </th>
        <th id="registeredOn" class="col-md-3">
            RegisteredOn
        </th>
        <th id="userStatus" class="col-md-3">
            User Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.HiddenFor(modelItem => item.Id)
        @Html.HiddenFor(modelItem => item.PostalCode)
        @Html.HiddenFor(modelItem => item.XP_Points)
        @Html.HiddenFor(modelItem => item.EmailConfirmed)
        @Html.HiddenFor(modelItem => item.PasswordHash)
        @Html.HiddenFor(modelItem => item.SecurityStamp)
        @Html.HiddenFor(modelItem => item.PhoneNumberConfirmed)
        @Html.HiddenFor(modelItem => item.TwoFactorEnabled)
        @Html.HiddenFor(modelItem => item.LockoutEndDateUtc)
        @Html.HiddenFor(modelItem => item.LockoutEnabled)
        @Html.HiddenFor(modelItem => item.AccessFailedCount)
        @Html.HiddenFor(modelItem => item.UserName)



        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActualUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { userId = item.Id }) |
                @Html.ActionLink("Delete", "DeleteUser", new { userId = item.Id })
            </td>
        </tr>
    }

</table>
